@import 'mixins.styl'

.input,
.bookmark-meta-title,
.bookmark-meta-tags
  font: 20px/24px $font-sans
  padding: 5px 10px

.input
  padding-right: 42px
  width: 744px

.bookmark-tags-edit,
.bookmark-title-edit,
.bookmark-link-edit
  width: 246px
  font: 13px/14px $font-sans
  margin: 0 20px 0 0

.bookmark-tags-edit
  margin: 0
