@import 'bookmarks.mixins.sass'

.add-bookmark,
.clear-search
  font: bold 20px/24px $font
  padding: 5px 10px
  position: absolute
  color: #900
  background: #e5e5e6
  right: -50px
  top: 0
  cursor: pointer
  border: none

  &:hover
    background: #d5d5d6

.clear-search
  top: 1px
  right: 0
  background: transparent
  color: #999
  display: none

  &:hover
    background: transparent
    color: #333
