.wrapper
  width: 800px
  margin: 50px auto
  padding: 0 50px
  position: relative

.input-wrapper
  margin: 20px 0
  position: relative

.bookmark-meta
  display: none
  margin: 20px 0

.bookmark-meta-title
  width: 340px

.bookmark-meta-tags
  width: 408px

.bookmarks-list-wrapper
  margin: 20px 0

.bookmarks-list
  padding: 0 0 0 10px

.logo
  position: absolute
  left: 0
  top: 0
  width: 50px
  height: 181px
  background: url(/static/img/tassel.jpg)
