<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bookmarks</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bookmarks.css') }}" media="all">
    <script src="{{ url_for('static', filename='lib/lodash.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/zepto.js') }}"></script>
    <script src="{{ url_for('static', filename='js/xxspubsub.js') }}"></script>

    <script src="{{ url_for('static', filename='js/bookmarks.model.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bookmarks.renderer.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bookmarks.controller.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bookmarks.js') }}"></script>
</head>
<body>
    <div class="wrapper">
        <div class="input-wrapper">
            <input class="input" type="text" placeholder="Search bookmarks" autofocus/>
            <span class="add-bookmark">+</span>
        </div>
        <div class="bookmarks-list-wrapper">
            <ul class="bookmarks-list"></ul>
        </div>
    </div>
    <script>
        var bookmarks = new Bookmarks()
    </script>
</body>
</html>
