<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Bookmarks</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bookmarks.css') }}">
    <script src="{{ url_for('static', filename='lib/lodash.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/zepto.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/json.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/store.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bookmarks.min.js') }}"></script>
</head>
<body>
    <div class="wrapper">
        <form class="form">
            <div class="input-wrapper">
                <input class="input"
                    name="url"
                    type="text"
                    placeholder="Search bookmarks"
                    tabindex="1"
                    autofocus="true">
                <button class="clear-search">⊗</button>
                <button type="submit" tabindex="4" class="add-bookmark">+</button>
            </div>
            <div class="bookmark-meta">
                <input type="text"
                    name="title"
                    placeholder="Title"
                    tabindex="2"
                    class="bookmark-meta-title">
                <input type="text"
                    name="tags"
                    placeholder="Tags"
                    tabindex="3"
                    class="bookmark-meta-tags">
            </div>
        </form>
        <div class="bookmarks-list-wrapper">
            <ul class="bookmarks-list"></ul>
        </div>
    </div>
    <script>
        var bookmarks = new Bookmarks()
    </script>
</body>
</html>
